@charset "UTF-8";
/* CSS Document */
/* 若有想寫新的 css 寫在此 */


/* variables */
:root {
    --menu-item-color-active: #330155;
    --menu-item-count: 12;
    --menu-item-margin: 5px;
    --menu-item-border-width: 1px;
}

:target:before {
  content: "";
  display: block;
  height: 80px; /* fixed header height*/
  margin: -80px 0 0; /* negative fixed header height */
}

/* overwrite */
.main-menu a:active,
.main-menu a:hover,
.main-menu a:link,
.main-menu a:visited {
  color: unset;
}

/*** Main menu - 當畫面往下滾動時, 選單置頂 *********************/
/* main menu */
.main-menu-wrap {
  width: 100%;

}

.main-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  z-index: 99;
}

.main-menu-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc((100% - (var(--menu-item-margin) + var(--menu-item-border-width)) * 2 * var(--menu-item-count)) / var(--menu-item-count));
  aspect-ratio: 1 / 1;
  margin: var(--menu-item-margin);
  border: var(--menu-item-border-width) solid var(--menu-item-color-active);
  box-shadow: 0 0 0 2px #fff;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 99;
  transition: all 0.5s ease-out;
}

.main-menu-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.main-menu-item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.main-menu-item-title {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  color: var(--menu-item-color-active);
}

/* hover effect */
.main-menu-item:hover {
  background: var(--menu-item-color-active);
}

.main-menu-item:hover,
.main-menu-item:hover .main-menu-item-link,
.main-menu-item:hover .main-menu-item-title {
  color: #ffffff;
}

.main-menu-item:hover .main-menu-item-image {
  display: none;
  opacity: 0;
}

.main-menu-item:hover .main-menu-item-title {
  display: block;
}

/* sticky */
.main-menu-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1041;
  transition: transform 1s ease-in;
}

.main-menu-sticky.main-menu-wrap {
  padding: 8px 0;
/*   box-shadow: 0 2px 2px rgba(0, 0, 0, .08),
              0 5px 5px rgba(0, 0, 0, .05),
              0 8px 8px rgba(0, 0, 0, .005); */
  box-shadow: 0 2px 2px rgba(0, 0, 0, .08),
              0 6px 4px rgba(0, 0, 0, .03);
 background:#6b4d96bd;
}

.main-menu-sticky .main-menu-item {
  aspect-ratio: auto;
  border-color: rgba(137, 112, 101, .18);
  border-radius: 6px;
  box-shadow: none;
}

.main-menu-sticky .main-menu-item-link {
  padding: 12px 8px;
}

.main-menu-sticky .main-menu-item-image {
  display: none;
}

.main-menu-sticky .main-menu-item-title {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #403020;
}

/*** other & overwrite *********************/
/* header */
.header-hidden {
  transform: translateY(-70px);
}

@media screen and (max-width: 767px) {
  /* overwrite M 版下方menu */
  .bbbar {
    display: none;
  }

  /** menu **/
  .main-menu-sticky.main-menu-wrap {
    padding: 6px 0;
  }
  .main-menu {
    overflow-x: scroll;
  }

  .main-menu-item {
    flex: none;
    width: auto;
    aspect-ratio: auto;
    border-color: rgba(137, 112, 101, .18);
    border-radius: 6px;
    box-shadow: none;
  }

  .main-menu-sticky .main-menu-item-link,
  .main-menu-item-link {
    padding: 8px;
  }

  .main-menu-item-image {
    display: none;
  }

  .main-menu-item-title {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #403020;
  }
}

/* back to top */
.back-to-top-wrap {
  display: none;
}

.back-to-top {
  right: 0;
}

.back-to-top-text {
  margin-bottom: 0;
  font-weight: bold;
}

.back-to-top-text,
.back-to-top-text a:active,
.back-to-top-text a:hover,
.back-to-top-text a:link,
.back-to-top-text a:visited {
  color: #fff;
}

.back-to-top-show {
  display: block !important;
}

.effect{
  position: relative;
}
.effect .money{
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  /* animation: bounce-in-right 1.1s both; */
}

.effect .woman{
  /* display: block; */
  position: absolute;
  top: 55%;
  left: 9%;
}

.effect .man{
  /* display: block; */
  position: absolute;
  top: 47%;
  left: 75%;
}

.pic-transform img:hover{
  transform:scale(2,2);
}

/*** category product card *********************/
.category-product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1220px;
	padding: 0 0 0 22px;
	margin: 5px 0px 0px -5px;
  margin-top: 30px;
}

.category-product-list .product-item {
  text-align: left;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,PingFang TC,PingFangTC,PingFangTC-Regular,Microsoft JhengHei,PMingLiU,sans-serif;
	margin: 10px 8px 18px;
	width: 15.3%;
	height: auto;
	list-style: none outside none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

@media screen and (max-width:767px) {
  .category-product-list {
    padding: 3% 0 2% 2%;
    margin: 0;
  }
}

@media screen and ( max-width:736px) {
  .category-product-list {
    margin: 0;
    padding: 2% 0 0 2%;
    width: 100%;
  }

  .category-product-list .product-item {
    margin: 0 2% 2% 0;
    border: 0;
    width: 48%;
    height: auto;
  }
}

.rt-product-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #e6e6e6,0 0 2px 0 #e6e6e6;
  font-size: 14px;
  line-height: 1.5
}

@media (min-width: 1024px) {
  .rt-product-card:hover {
    box-shadow:0 0 6px -1px rgba(0,0,0,.1),0 4px 8px rgba(0,0,0,.1);
    transform: scale(1.05);
    transition: all .1s
  }
}

.rt-product-card .rt-tooltip-content {
  padding: 8px!important
}

.rt-product-card-img-wrap {
  aspect-ratio: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  position: relative;
}

.rt-product-card-img-link {
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;
}

.rt-product-card-img {
  aspect-ratio: 1;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: 100%
}

.rt-product-card-name-wrap:hover {
  text-decoration: none;
}

.rt-product-card-name {
  color: #444;
  font-size: 14px;
  height: 42px;
  line-height: 22px;
  margin-bottom: 8px;
  overflow: hidden;
  word-break: break-all;
}

.rt-product-card-name:hover {
  text-decoration: none;
}

.rt-product-card-name .icon {
  margin-right: 4px;
}

.rt-product-card-detail-wrap {
  padding: 8px 12px;
  position: relative;
}

@media (max-width: 1024px) {
  .rt-product-card-detail-wrap {
    padding: 8px;
  }
}

.rt-product-card-price-wrap {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .1px;
  margin-top: 4px;
}

.rt-product-card-price-wrap .rt-text-price {
  color: #ff5d0e!important;
}

.rt-product-card-price-wrap .text-price-prefix {
  color: #ff5d0e!important;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.rt-product-card-price-wrap .rt-text-notice {
  color: #a4a4a4;
  font-size: 400;
  font-size: 12px;
  line-height: 18px;
}

.rt-product-card-price-wrap .text-strikethrough {
  margin-left: 4px;
}

.rt-product-card-tag-wrap {
  height: 21px;
  margin-top: 4px;
}

.rt-product-card-tag {
  background-color: #fff9eb;
  border-radius: 4px;
  color: #f36b07;
  font-size: 12px;
  letter-spacing: .5px;
  line-height: 12px;
  padding: 2px 4px;
}

.rt-product-card-info-wrap {
  align-items: center;
  color: #6e6e6e;
  display: flex;
  font-size: 12px;
  justify-content: end;
  margin-top: 4px;
}

.rt-product-card-credit {
  align-items: center;
  display: flex;
  gap: 3px;
  letter-spacing: .5px;
  margin-right: auto;
}

.rt-product-card-credit-num {
  color: #6e6e6e;
}

.rt-product-card-sold {
  letter-spacing: .5px;
  margin-left: auto;
}

.rt-product-card-info-title {
  margin-right: 4px;
}

.rt-product-card-shopping-cart-wrap {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1),0 0 4px -1px rgba(0,0,0,.1);
  cursor: pointer;
  /* display: inline-flex; */
  display: none !important;
  height: 32px;
  justify-content: center;
  margin: 0 -4px 0 8px;
  width: 32px;
}

@media (max-width: 1024px) {
  .rt-product-card-shopping-cart-wrap {
      margin:0 0 0 8px;
  }
}

.rt-product-card-shopping-cart-action {
  bottom: 0;
  cursor: pointer;
  height: 48px;
  position: absolute;
  right: 0;
  width: 48px;
  z-index: 2;
}

.rt-product-card-favorite-action {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  /* display: flex; */
  display: none !important;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 40px
}

.rt-product-card-activity-tag-wrap {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10
}

img.rt-product-card-activity-tag {
  width: 70px;
  height: 40px;
}

.rt-product-card-mark-bottom-right>.rt-product-card-detail-wrap:after {
  border-color: transparent #e0e0e0 #e0e0e0 transparent;
  border-style: solid;
  border-width: 6px;
  bottom: 3px;
  content: "";
  position: absolute;
  right: 3px;
  z-index: 1
}

.rt-product-card.product-card-shining-border,
.rt-product-card .product-card-shining-border {
  background-color: #fff6ec;
  border: 1px solid #e24508;
  box-sizing: border-box
}

.rt-product-card.product-card-name-bold .rt-product-card-name,
.rt-product-card .product-card-name-bold .rt-product-card-name {
  font-weight: 600
}

.rt-product-card.product-card-highlight,
.rt-product-card .product-card-highlight {
  background-color: #fff6ec
}

.rt-product-card-preorder-tag {
  line-height: normal;
  position: absolute;
  right: 0;
  top: 0
}

.rt-product-card-img-bottom-tag-wrap {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute
}

.rt-product-card-pcstore-tag {
  display: inline-flex
}

.rt-product-card-ad-tag {
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  color: #fff;
  /* display: inline-flex; */
  display: none !important;
  font-size: 12px;
  letter-spacing: .5px;
  line-height: 1;
  margin-bottom: 2px;
  margin-left: 4px;
  padding: 2px 4px
}

.rt-product-card svg.icon {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23fcb300%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.974%204.59a.5.5%200%200%200-.434-.338l-2.851-.227-1.234-2.73a.499.499%200%200%200-.91-.001L4.31%204.025l-2.85.226a.5.5%200%200%200-.31.857l2.106%202.054-.745%203.225a.5.5%200%200%200%20.765.529L6%209.101l2.723%201.815a.501.501%200%200%200%20.758-.553l-.915-3.2%202.269-2.041a.5.5%200%200%200%20.139-.532z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.rt-product-card .icon::before {
  content: none;
}


@media only screen and (min-width: 768px) {
  .carousel-inner{
    margin-top: 0;
  }
}

/* 特殺品 */





.introduce { 
  display: flex;
  flex-wrap: wrap;
    width:auto; 
    padding: 0px;
     gap: 10px;
    box-sizing: border-box; 
  }
  
  .content { 
  background:url(../../images/hotsale-background.png);
     background-size: 100% auto;
        border-radius: 0rem;
      width: 494px;
      height:44rem;
      margin: 0 auto;
      margin-top: 20px;
     
  }
  .title{
        text-align: center;
        color:#f2f3f9;
        font-family: "Microsoft JhengHei";
        font-weight:bold;
        line-height: 1.2;
        padding:10px 55px; 
  }
  
  .text {
    transform: translate(-50%, -50%); /* 将文字居中放置在圆形中心 */
    position: relative;
    top: 35%;
    left: 75%;
    width: 100%; /* 保证文字在圆形内部不换行 */
    text-align: center; /* 居中文字 */
    font-family: "Microsoft JhengHei";
    line-height: 1.5;
    color:#ffee00;
    
  }
  .price {
    display: inline-block;
    position: absolute;
    top:332px;
    background-image: url(../../images/tag.png);
    width:auto;
    height: 192px;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 0px;s
  }
  .txt{
      text-align: left ;
        color:#f2f3f9;
        padding:0px 55px; 
  }
  .image {
      max-width: 400px;
      height:251px;
      margin: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius:1rem;
    }
    
  
  .h1 {
    font-size:50pt;
  }
  /* 購買按鈕*/
  .buy-button {
     text-decoration: none; /* 移除默认链接样式 */
    display: inline-block;
    padding: 10px 20px;
    background-color: #969696bc;
    color: #ffffff;
    font-size: 20px;
    border: 2px solid #cecece;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:0px;
    margin-top:0px;
  }
  
  .buy-button:hover {
    background-color: #2dad3c;
  }
  
  .buy-button:focus {
    outline: none;
  }

  .s1 {
    font-size: 36pt;
    
    font-family: "Brush Script Std";
    color: #ee0000;
  }





.mpic
{
  width: 70%;
 
}


.effect .mm{
  /* display: block; */
  position: absolute;
  top: -3%;
  left: -2%;
  animation: fadeInLeft_s ;
}

.effect .tt{
  /* display: block; */
  position: absolute;
  top: 70%;
  left: 0%;
}

.follower {
  width: 50px;
  height: 50px;
  background-image: url(../../images/011.png);
  border-radius: 50%;
  position: fixed; /* 使用固定定位 */
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
  

}


/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Swiper2 */
.swiper2 {
  width: 50%;
  height: 50%;
}

.swiper2-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper2-slide img {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
}